 <% include ../partials/header.ejs %>
<div class='container'>
	<h1><%=user.username%>'s Brewr Profile</h1>
	
	<div class='col-lg-6'>
		<h4>Breweries <%=user.username%> has visited: </h4>
    		<%breweries.forEach((brewery) => {%>
  			
  				<div class='container'>
  					<div class="card" class='col-md-6'>
  						<div class="card-body">
  							<h4 class="card-title"><%=brewery.name%></h4>
  							<p class="card-text text-primary"><%=brewery.rating%>/5 Stars</p>
                <p class="card-text text-primary"><%=brewery.location%></p>
 							  <a href="/breweries/<%=brewery.id%>" class="btn btn-primary">Details</a>
 							  <form action='breweries/<%=brewery.id%>?_method=DELETE' method='POST'>

 								 <button class="btn btn-sm" type="submit">Remove</button>
 							  </form>
  						</div>
  					</div>
  				</div>
  			
  			<%})%>

		<h4>Beers <%=user.username%> has tried: </h4>
            <%beers.forEach((beer) => {%>
            <div class='container'>
                <div class='col-md-12 card'>
                    <div class="card-body">
                        <h4 class="card-title"><%=beer.name%></h4>
                        <p class="card-text text-primary"><%=beer.style%></p>
                        <a href="beer/<%=beer.id%>" class="btn btn-primary">Details</a>
                        <form action='/beer/<%=beer.id%>?_method=DELETE' method='POST'>

                            <button class="btn btn-sm" type="submit">Remove</button>

                        </form>


                    </div>
                </div>
            </div>
        <%})%>
	</div>

</div>
 	
</body>
</html>
