<!DOCTYPE html>
<html>
<head>
	<title>Brewery Index Page</title>
</head>
<body>
	<ul>
		<%breweries.forEach((brewery, i) => {%>
 			<li><%=brewery%>: </li>
 				<br>
 				<p><%=addresses[i]%></p>
 				<br>
 				<p>Price Level: <%=price[i]%></p>
 				<br>
 				<p>Rating: <%=rating[i]%></p>
 				<br>
 				<p>Open Now?: <%=open[i]%></p>
 		<%})%>
	</ul>

</body>
</html>