 <% include ../partials/header.ejs %>
	<div class="container">
		
<div class="container">
	<h1><%=brewery.name%></h1>
		<div class = 'list-item-info'>
			<h5>Consensus Rating: <%=brewery.rating%>/5 stars</h5>

			<h5>Price Level: <% if (brewery.price = 1) { -%>
 						<p>$</p>
 					<% } else if(brewery.price = 2) { -%>
 						<p>$$</p>
 					<% } else if (brewery.price = 3) {-%>
 						<p>$$$</p>
 					<%} else if (brewery.price = 4) { -%>
 						<p>$$$$</p>
 					<%}%></h5>
			<h5>Address: <a href="<%=brewery.map%>"><%=brewery.location%></a></h5>

			<h5>Phone: <%=brewery.phone%></h5>
		</div>

		<div>
			<h3>Hours: </h3>

			<%if (brewery.hours) {%>
				<%brewery.hours.forEach((hour) => {%>
					<div class="list-item-info">
						<li><%=hour%></li>
					</div>
			<%})}%>
		</div>

		<form action="/user" method="post">
			<ul class="nav nav-pills nav-fill">
 				<li class="nav-item">
 					<input type="hidden" name="_id" value="<%=brewery.id%>">
                    
    				<button class="nav-link active" type="submit">Check In</button>
  					
  				</li>
  			</ul>
		</form>

    <br>
        <div class="row">
            <a href="<%=brewery.website%>"><%=brewery.name%> Website</a>
        </div>

        <div class="row">     
                <a class="btn btn-primary" value="Add Beer" href='/breweries/<%=brewery.id%>/newbeer'>Add Beer</a>
        </div>

    </div>
</body>
</html>